header{
    border: 2px rgb(220, 149, 26);
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

nav{
    border: 1px rgb(220, 149, 26);
}

article{
    border: 2px rgb(105, 105, 239);
    height: 400px;
    margin-left: 20px;
    margin-right: 250px;
}

aside{
    border: 2px rgb(88, 88, 143);
    height: 200px;
    margin-right: 20px;
}

footer{
    border: 2px rgb(192, 67, 67);
    margin-bottom: 20px;
}